* {
    box-sizing: border-box;
    
  }
  
  body{
    background-image: url('../../assets/images/stockmarket.jpg');
    position: fixed; 
    left: 0; 
    background-size: 100% 100%;
    min-width: 100%;
    min-height: 100%;
  
  }
  .mySlides {
    background-color: aqua;
    display:none;
  opacity: 0.8;
}

  .menu {
    float: left;
    width: 20%;
    text-align: center;
  }
  
  .menu a {
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
  }
  
  .main {
    float: left;
    width: 60%;
    padding: 0 20px;
  }
  
  .right {
    background-color: #e5e5e5;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
  }
  
  
  @media only screen and (max-width: 620px) {
    .menu, .main, .right {
      width: 100%;
    }
  }