div{
    margin: auto;
    width:max-content;
}

#body{
    background-image: url('../../assets/images/stockmarket.jpg');
    background-size: cover;
      left: 0; 
      background-size: 100% 100%;
      min-width: 100%;
      min-height: 100%;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  opacity: 0.8;
  text-align: center;
  font-weight:bold;
  font-size: 2vw;
}
