<div id="body">
<div class="container">Displaying all past records</div>
<br>


<div class="container">
<table class="table table-bordered table-hover table-responsive-sm">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Stock Ticker</th>
    <th scope="col">Stock Price</th>
    <th scope="col">Volume</th>
    <th scope="col">Buy or Sell</th>
    <th scope="col">Date Time</th>
    <th scope="col">Status Code</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of stockorder; index as i">
    <th scope="row">{{ order.id }}</th>
    <td>
      {{order.stockTicker}}
    </td>
    <td>
      {{order.stockPrice | number}}
    </td>
    <td>
      {{order.volume | number}}
    </td>
    <td>
      {{order.buyOrSell}}
    </td>
    <td>
      {{order.dateTime}}
    </td>
    <td>
      {{order.statusCode | number}}
    </td>
  </tr>
  </tbody>
</table>
</div>
<br>
<br>
<br>
<br>
</div>
