<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</head>
	<body>
        <div class="tickerSearchBar" style="padding-top: 3%;">
            <form action="" onsubmit="return getSymbol()" method="POST">
                <div class="form-group d-inline-flex flex-direction-row">
                    <label for="ticker" style="font-weight: bolder; margin-right: 2%; padding-top: 2%; color:#fca311;">Stock Ticker</label>
                    <input type="text" [(ngModel)]="tickerName.symbol" class="form-control" style="width: 40%; margin-right: 2%;" name="tickerInput" id="tickerInput" placeholder="Symbol" onkeyup="this.value = this.value.toUpperCase();">
                    <a [routerLink]="" (click)="tickerDetails(tickerName.symbol)" class="btn btn-primary" style="color:black;background-color:#fca311" type="submit">Search</a>
                </div>
            </form>
        </div>

        <div class="container">
            <div class="displayTable">
                <div class="bg-success">
                    <table class="table table-bordered table-hover table-responsive-sm" >
                        <thead class="table-borderless th">
                            <tr>
                                <th scope="col"style="height: 50px; width: 50%;color:#fca311; background-color:#14213d">WELCOME USER!! BUY YOUR STOCKS HERE :)</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="bg-light" style="color: blueviolet;">
                    <table class="table table-bordered table-hover table-responsive-sm">
                        <thead>
                            <tr>
                                <th scope="col"style="height: 50px">Company</th>
                                <th scope="col" style="width: 135px;">{{ Ticker.companyName }}</th>
                                <th scope="col">Ask Price</th>
                                <th scope="col">{{ Ticker.latestPrice }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 15%;">Volume</th>
                                <td>{{ Ticker.iexVolume }}</td>
                                <th scope="row">Price Change</th>
                                <td style="width: 135px;">{{ Ticker.change }}</td>
                            </tr>
                            <tr>
                                <th scope="row" style="width: 20%;">52-Week High</th>
                                <td>{{ Ticker.week52High }}</td>
                                <th scope="row" style="width: 20%;">52-Week Low</th>
                                <td>{{ Ticker.week52Low }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="d-flex flex-row justify-content-center align-items-center">
                <div class="bg-light" style="text-align: center; width: 60%; color: red;">
                    Check your estimate below before proceeding!!
                </div>
            </div>

            <div class="d-flex flex-row justify-content-center" id="buy_sell_estimator">
                <div id="buyEstimator">
                    <form action="" method="POST"> 
                        <table class="table table-bordered table-responsive-sm table-borderless th" style="background: white; width:100%;">
                            <thead>
                                <tr>
                                        <th scope="col">(Ask) Price: </th>
                                        <th scope="col">{{ Ticker.latestPrice }}</th>
                                        <th scope="col">Symbol: {{ Ticker.symbol }}</th>
                                    </tr>
                            </thead>
                                <tbody>
                                    <tr>
                                        <th scope="col">Buy Volume</th>
                                        <th scope="col"><input type="number" [(ngModel)]="tickerName.qt" min="1" class="form-control" style="width: 50%;" name="sharesInput" id="sharesInput" placeholder="#"></th>
                                       <th scope="col">Estimated Total</th>
                                        <th scope="col"> {{ tickerName.est | number: '1.2-2'}} </th>
                                    </tr>
                                    <tr>
                                        
                                        <th scope="col"><button class="btn btn-primary btn-sm" (click)="estimate(Ticker.latestPrice,tickerName.qt)"  style="color:black;background-color:#fca311" name="btnBuyEstimate" id="btnBuyEstimate" type="submit">Estimate</button></th>
                                        <th scope="col"><button class="btn btn-primary btn-sm" (click)="buy(Ticker.latestPrice)" name="btnBuy"  style="color:black;background-color:#fca311" id="btnBuy" type="submit">Place Order</button></th>
                                    </tr>
                                </tbody>
                            
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </body>

</html>