<html>

<body class="card1">
<h1 class="gss">USER PORTFOLIO</h1>
<h3 class="gss">Most Interacted Stocks</h3>

<div class="container">
  <div class="row row-cols-3" >
    <div class="col-sm-4" *ngFor="let order of top3; index as i">
    <div class="container">
    <div class="card" style="width: 18rem;background-color:black; color: white;" class="shadow p-3 mb-5 bg-white rounded ">
  <div class="card-body" style="background-color:#2b2928; color: white;">
    <p style ="font-size:20px text-muted">{{order.stockTicker}}</p>
    <i class="fas fa-band-aid"></i>
    <p class="card-text"></p>
    <a href="#" style="font-size:15px">latest news about the stock</a>
  </div>
  </div>
</div>
</div>
</div>

<h3 class='gss'>Current Holdings</h3>

<div class="row"  >
<div  class="hss">
<table class="table table-dark table-sm table-hover" >
  <thead>
  <tr >
    <th  scope="col">id</th>
    <th  scope="col">Stock Ticker</th>
    <th  scope="col">Stock Price</th>
    <th  scope="col">Volume</th>
  </tr>
  </thead>
  
  <tbody >
  <tr *ngFor="let x of symbol; index as i">
    <th  scope="row">{{ x.id }}</th>
    <td >
      {{x.stockTicker}}
    </td>
    <td >
      {{x.stockPrice | number}}
    </td>
    <td >
      {{x.volume | number}}
    </td>
  </tr>
  </tbody>
  
</table>
</div>
</div>
</div>
</body>


</html>