*{
    box-sizing: border-box;
}
body {
 
  background-image: url('../../assets/images/stockmarket.jpg');
      left: 0; 
      background-size: 100% 100%;
      min-width: 100%;
      min-height: 100%;

}
.gss{
  margin-top: 25px;
  text-align: center;
  font-weight:bold;
  font-size: xx-large;
  color: rgba(248, 244, 239, 0.945);
  text-shadow: 2px 2px #140d36;
}
.card1{
  background-image: url('../../assets/images/stockmarket.jpg');
 
  left: 0; 
  background-size: 100% 100%;
  min-width: 100%;
  min-height: 100%;

}
.hss
{
 color: rgb(36, 34, 34);
 font-size: 18px;
}
.geeks {
  border-right:hidden;
}
.gfg {
  border-collapse:separate;
  border-spacing: 30px;
}
