<div class="sidebar">
  <a class="active" href="homepage">Home</a>
  <a href="portfolio">Portfolio</a>
  <a href="buystocks">Buy</a>
  <a href="sellstocks">Sell</a>
  <a href="history">History</a>
</div>
<router-outlet></router-outlet>