
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</head>
	<body>
        <div class="tickerSearchBar" style="padding-top: 3%;">
            <form action="" onsubmit="return getSymbol()" method="POST">
                <div class="form-group d-inline-flex flex-direction-row">
                    <label for="ticker" style="font-weight: bolder; margin-right: 2%; padding-top: 2%; color:#fca311;">Stock ID</label>
                    <input type="text" [(ngModel)]="StockOrders.id" class="form-control" style="width: 40%; margin-right: 2%;" name="tickerInput" id="tickerInput" placeholder="ID" >
                    <a [routerLink]="" (click)="stockDetails(StockOrders.id)" class="btn btn-primary" style="color:black;background-color:#fca311" type="submit">SEARCH</a>
                </div>
            </form>
        </div>

        <div class="container">
            <div class="displayTable">
                <div class="bg-success" style="color:black">
                    <table class="table table-bordered table-hover table-responsive-sm" >
                        <thead class="table-borderless th" style="color:black">
                            <tr>
                                <th scope="col"style="height: 50px; width: 50%;color:#fca311; background-color:#14213d">WELCOME USER!! SELL YOUR STOCKS HERE :)</th>
                                
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="bg-light" style="color: blueviolet;">
                    <table class="table table-bordered table-hover table-responsive-sm">
                       <tbody>
                            <tr>
                                <th scope="col"style="height: 50px">StockName:</th>
                                <th scope="col" style="width: 135px;">{{ StockOrders.stockTicker }}</th>
                                <th scope="col">Bid Price:</th>
                                <th scope="col">{{ StockOrders.stockPrice }}</th>
                            </tr>
                                <tr>
                                <th scope="row">Volume:</th>
                                <td>{{ StockOrders.volume }}</td>
                                <th scope="row">Price change</th>
                                <td>{{ Ticker.change }}</td>
                                </tr>
                            <tr>
                                <th scope="row">52-Week High</th>
                                <td>{{ Ticker.week52High }}</td>
                                <th scope="row" style="width: 20%;">52-Week Low</th>
                                <td>{{ Ticker.week52Low }}</td>
                            </tr>
                        </tbody>  
                    </table>
                </div>
            </div>

         <div class="d-flex flex-row justify-content-center align-items-center">
                <div class="bg-light" style="text-align: center; width: 60%; color: red;">
                    Specify the volume before proceeding!!
                </div>
        </div>

            

            <div class="d-flex flex-row justify-content-center" id="buy_sell_estimator">
                <div id="buyEstimator">
                    <form action="" method="POST"> 
                        <table class="table table-bordered table-responsive-sm table-borderless th" style="background: white; width:100%;">
                            
                            <div class="form-group">
                                <tbody>
                                    
                                    <tr>
                                        <th scope="col">Sell Volume:</th>
                                        <th scope="col"><input type="number" [(ngModel)]="tickerName.qt" min="1" class="form-control" style="width: 50%;" name="sharesInput" id="sharesInput" placeholder="#"></th>
                                        
                                    </tr>
                                    <tr>
                                        
                                        
                                        <th scope="col"><button class="btn btn-primary btn-sm" (click)="sell(Ticker.iexAskPrice)" style="color:black;background-color:#fca311" name="btnBuy" id="btnBuy" type="submit">SELL STOCK</button></th>
                                    </tr>
                                </tbody>
                            </div>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </body>

</html>